<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UI_Insert_Del_UpdateView_Data_Grid_.Properties.Settings.MoldTrackerConnectionString"
            connectionString="Data Source=KUBALAP;Initial Catalog=MoldTracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UI_Insert_Del_UpdateView_Data_Grid_.Properties.Settings.MoldTrackerConnectionString1"
            connectionString="Data Source=DESKTOP-7CV4P8D\KUBALAP;Initial Catalog=MoldTracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="region" value="us-US"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>